<header class="header space">

  <a href="/" class="logo">OTS</a>
  
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tests">Tests</a>
    </li>
    <li>
      <a href="/">Profile</a>
    </li>
    <li>
      <a href="/">About</a>
    </li>
  </ul>

  <% if (user === undefined) { %>
    <a href="/signup"><i class="fa fa-user" aria-hidden="true"></i></a>

  <% } else { %>
    <a href="/logout" class="logo">Logout</a>

  <% } %>
</header>
