<form action="/signup" method="POST" enctype="application/x-www-form-urlencoded">

    <label for="username"><b>Name</b></label>
    <input type="text" name="username" placeholder="Enter Username" id="">
    
    <label for="email"><b>Email</b></label>
    <input type="email" name="email" placeholder="Enter Email" id="">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password" id="">
    
    <input type="submit" value="signup" class="btn">


    <a href="" target="_blank" rel="noopener noreferrer"></a>
</form>

<div class="login-direct">
    <p>
        Already registered? <a href="/login">Login</a>
    </p>
</div>